<ul class="user-post d-flex">
  <%= link_to "/users/#{@users.id}/posts/#{user_post.id}", class: 'user-post-cards links' do %>
    <li>
      <h3>Post No: <%= user_post.id %></h3>
      <h3><%= user_post.title %></h3>
      <h4>Comments: <%= user_post.comments_counter %> Likes: <%= user_post.likes_counter %></h4>
    </li>
  <% end %>
  <li class="user-post-cards">
    <h2>Comments:</h2>
    <% user_post.recent_comments.each do |opinion| %>
      <h4><%= opinion.user.name %>: <%= opinion.text %></h4>
      <% if can? :destroy, opinion %>
        <%= link_to 'Delete', destroy_comment_path(@users.id, user_post.id, opinion.id) %>
      <% end %>
    <% end %>
  </li>
</ul>