<%= render 'shared/user_card', user_card: @users %>
<div class="d-flex profile-wrapper">
  <% if @post.empty? %>
    <h3>No data yet</h3>
    <%= link_to "New Post", new_user_post_path, class: 'profile-btn' %>
  <% else %>
    <%= render '/shared/flash_message' %>
    <%= link_to "New Post", new_user_post_path, class: 'profile-btn' %>
    <% @post.each do |user_post| %>
      <%= render 'shared/comment', user: @users, user_post: user_post %>
    <% end %>
  <% end %>
  <a href="#" class="profile-btn">pagination</a>
</div>