<div class="d-flex full-post-title">
  <div class="d-flex full-post-header">
    <h3>Post No: <%= @post.id %> by <%= @user.name %></h3>
    <h4>Comments: <%= @post.comments_counter %> Likes: <%= @post.likes_counter %></h4>
  </div>
  <div><h2><%= @post.text %></h2></div>
</div>
<ul class="full-comments-wrapper">
  <% if @post.comments.empty?%>
    <h3>No comments yet</h3>
  <% else %>
    <li>
    <% @post.comments.each do |comment| %>
      <h4><%= comment.user.name %>: <%= comment.text %></h4>
    <% end %>
    </li>
  <% end %>
</ul>

